<%- include("./partials/header"); %>
<h1>Login!</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>
<p>If you don't have an account, <a href="/register">Sign Up</a></p>
<%- include("./partials/footer"); %>