<%- include("./partials/header"); %>

    <div class="row">
        <div class="col-md-12">
            <form class="form-signin" action="/register" method="POST">
              <h1 class="h3 mb-3 font-weight-normal">Please Sign Up <i class="far fa-user"></i></h1>
              <label for="inputUsername" class="sr-only">Username</label>
              <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
              
              <label for="inputUsername" class="sr-only">Admin Code</label>
              <input type="password" id="inputUsername" class="form-control" name="adminCode" placeholder="Admin code">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
            </form>
            <div class="form-signin">
                <p>If you already have an account, <a href="/login">Log In</a></p>
                <a href="/campgrounds">Go Back</a>
            </div>
        </div>
    </div>
<%- include("./partials/footer"); %>
